<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bucket-List{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
</head>
<body>
<header>
    <p class="logo">Bucket-List</p>
    <nav>
        <a href="{{ path('main_index') }}">Home</a>
        <a href="{{ path('wish_list') }}">Wish List</a>
        <a href="{{ path('main_aboutUs') }}">About Us</a>
    </nav>
</header>
<main>
    {% block main %}{% endblock %}
</main>
<footer>
    <p>Made with <3 by <a target="_blank" href="https://github.com/sheilaJava">Sheila</a></p>
</footer>
</body>
</html>